<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'estilo.css' %}">
    <title>Alumno</title>
</head>

<body>
    <h1>Listado de Alumnos</h1>
    <hr> 
    <ul>
        {% for i in misalumnos %}
        <li> <a href="alumno/{{i.id}}">{{i.nombre}}</a></li>

        {% endfor %}
    </ul>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>